body{
    margin: 0px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
}
.topContainer{
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.top-cloud{
    position: absolute;
    top:50px;
    right: 250px;

}

.bot-cloud{
    position: absolute;
    bottom: 300px;
    left: 150px;
}

/* .midContainer{
}

.botContainer{
} */

